.dream-card {
    display: inline-block;
    width: calc(33% - 20px);
    height: 300px; /* temp */

    background-size: cover; /* cover */
    background-position: center;

    margin: 10px;
}

.dream-card-image {
    width: 100%;
}