@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Raleway:400,600');


body {
    background: rgb(241, 241, 240);
    font-size: 62.5%;
    background-color: #FDE9E2;
    background: url('./assets/clouds.jpeg') no-repeat center center;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

.dream-loader-container {
    width: 100%;
    display: flex;
    justify-content: center;
}