body {
    background: rgb(241, 241, 240);
    font-size: 62.5%;
    /* background: url('./assets/clouds.jpeg') no-repeat center center; */
    background: url('./assets/clouds.jpeg') repeat center center;
    position: relative;
}

header {
    /* min-height: 100vh; */
    color: #075A3E;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
}   

h1 {
    margin: 0;
    padding: 30px 0;
    font-size: 3rem;
}

.filter{
    margin: 0 10px;
    padding: 10px 20px;

}

.filter-main {
    background: #FDE9E2;
}

.filter-activities {
    background: #FAE45B;
}

.filter-skills {
    background: #075A3E;
}

